
<!-- Franja Verde (Copyright y Enlaces Legales) -->
<footer class="footer-green-bar">
  <div class="footer-inner">
    <!-- Left: Copyright -->
    <div class="footer-copy">
      <p [innerHTML]="'FOOTER.COPYRIGHT' | translate"></p>
    </div>

    <!-- Right: Legal links -->
    <nav class="footer-legal" aria-label="Enlaces legales">
      <a routerLink="/">{{ 'FOOTER.LINK_HOME' | translate }}</a>
      <a [routerLink]="['/legal']">{{ 'FOOTER.LINK_LEGAL' | translate }}</a>
      <a [routerLink]="['/privacidad']">{{ 'FOOTER.LINK_PRIVACY' | translate }}</a>
      <a [routerLink]="['/cookies']">{{ 'FOOTER.LINK_COOKIES' | translate }}</a>
      <a [routerLink]="['/accesibilidad']">{{ 'FOOTER.LINK_ACCESSIBILITY' | translate }}</a>
    </nav>
  </div>
</footer>
